[un-cloak] {
  display: none;
}

// body.body--dark .q-message-text {
//   background-color: $nord1;
//   color: $nord1;
// }

// body.body--dark .q-message-text .q-btn {
//   color: $nord8;
// }

body.body--light .q-header {
  color: $nord3;
  background-color: white;
}

body.body--dark .q-header {
  color: $nord6;
  background-color: $nord0;
}

body.body--dark .shiki,
body.body--dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
